body {
text-align: center;
font-family: Helvetica;
}

h1 {
  font-size: 70px;

}

h2{
  font-size: 23px;
  font-weight: bold;
}


#nav, #image {
  background-image: url(building.png);
  color: white;
}

#navpoints {
  font-size: 18px;
  color: white;
}



ul {
  list-style-type: none;
}


#ourProcess {
  font-size: 32px;
}

#footer {
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}

#footerText{
  font-size: 13px;
}

a {
  color: white;
}
